
@{
    ViewBag.Title = "Approve";
}
<head>
    <style>
        button {
            background-color: #000000ff;
            color: #ffffffff;
            padding: 15px 35px;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button {
            border-radius: 4px 30%;
        }
    </style>
</head>
 <body>

    <h2>Approve</h2>

    <div>

        <center>
            <!-- Your existing HTML content -->
            <!-- Button for page navigation -->
            <button onclick="window.location.href='@Url.Action("Admindashboard", "lms3")'">Back</button>

        </center>
    </div>

  </body>
